<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSV Download Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class='container'>
        <h1>Download CSV Files</h1>
        <form method="GET" action="/google">
            <div>
                <input type="submit" class="button" value="Google CSV">
            </div>
        </form>
        <form method="GET" action="/apple">
            <div>
                <input type="submit" class="button" value="Apple CSV">
            </div>
        </form>
    </div>
</body>
</html>