<!doctype html>
<html lang="en">
<head>
    <title>Forum Report</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div>
    <ul class="tabs">
        <li><a href="#" class="tab-link" data-tab="tabs-GooglePlay">Google Play</a></li>
        <li><a href="#" class="tab-link" data-tab="tabs-Appstore">Appstore</a></li>
    </ul>
    <div class="table-container">
        <div id="tabs-GooglePlay" class="tab-content">
            {% if google_reviews is not none and google_reviews|length > 0 %}
            <div class="table-fixed-header">
                {% for review in google_reviews %}
                {{ review|safe }}
                {% endfor %}
            </div>
            {% else %}
            <p>There were no reviews in Play Store for the given period</p>
            {% endif %}
        </div>
        <div id="tabs-Appstore" class="tab-content">
            {% if appstore_reviews is not none and appstore_reviews|length > 0 %}
            <div class="table-fixed-header">
                {% for review in appstore_reviews %}
                {{ review|safe }}
                {% endfor %}
            </div>
            {% else %}
            <p>There were no reviews in Appstore for the given period</p>
            {% endif %}
        </div>
    </div>
</div>

<script>
    // JavaScript for handling tab switching
    document.addEventListener("DOMContentLoaded", function() {
        const tabLinks = document.querySelectorAll('.tab-link');
        const tabContents = document.querySelectorAll('.tab-content');

        tabLinks.forEach(function(link) {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                const tabId = this.getAttribute('data-tab');

                tabContents.forEach(function(tabContent) {
                    tabContent.classList.remove('active');
                });

                document.getElementById(tabId).classList.add('active');

                tabLinks.forEach(function(link) {
                    link.classList.remove('active');
                });

                this.classList.add('active');
            });
        });
    });
</script>
</body>
</html>