<!DOCTYPE html>
<html lang="en">
<head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="landing-container">
        <h1>Welcome to the Reviews App</h1>
        <form method="post">
            <div class="form-group">
                <label for="app-name">Enter App Name:</label>
                <input type="text" id="app-name" name="app_name" required>
            </div>
			<div class="form-group">
                <label for="search-period">Select Search Period:</label>
                <select id="search-period" name="search_period">
                    <option value="month">Month</option>
                    <option value="two-months">Two Months</option>
                    <option value="quarter">Quarter</option>
                </select>
            </div>
            <div class="form-group">
                <label for="sorting-options">Choose Sorting Option:</label>
                <select id="sorting-options" name="sorting_option">
                    <option value="date">Date</option>
                    <option value="rating">Rating</option>
                    <option value="text">Text</option>
                    <option value="no-text">No Text</option>
                    <option value="positive">Positive</option>
                    <option value="negative">Negative</option>
                    <option value="neutral">Neutral</option>
                </select>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>