<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        {% if qr_code %}
            <p>Scan this QR Code with your phone to get access to reviews app</p>
            <img src="data:image/png;base64,{{ qr_code }}" alt="TOTP QR Code">
        {% endif %}
        <form method="POST">
            <div>
                <label for="totp_code">Very Secret Password </label>
                <input type="password" name="totp_code">
            </div>
            <div>
                <input type="submit" class="login-btn" value="Login">
            </div>
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>
